.starting_button{
  display: inline-block;
  float: left;
  width:50%;
  height: 100vh;
  text-align: center;
  border-right: 1px black solid;
}

.all_forms{
  display: inline-block;
  float: right;
  width:48%;
  height: 100vh;
  border-left: : 1px black solid;
}

.login_div{
  margin-left: 30%;
}

.registration_div{
  margin-left: 10%;
}
