.pay-section {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  margin: 200px;
  padding: 20px;
}

.qty-section {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 35%;
  height: 70vh;
  padding: 25px;
  margin-top: 100px;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("farmer1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

#quantity {
  width: 165px;
  height: 25px;
  border: 1px solid black;
}

#quantity:focus {
  border: 2px solid darkgreen;
  background-color: rgba(96, 226, 113, 0.3);
}

.payment,
.buy {
  color: white;
  border-radius: 10px;
  font-weight: 800;
  background-color: #81b214;
  align-items: center;
  height: 40px;
}

.payment:hover,
.buy:hover {
  color: black;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.buy {
  width: 100px;
}

h3,
h2 {
  font-size: 20px;
  font-family: sans-serif;
}

.but {
  color: white;
  border-radius: 5px;
  font-weight: 800;
  background-color: #81b214;
  width: 75px;
  height: 30px;
  margin: 5px;
}

.but:hover {
  background-color: rgba(39, 105, 48);
  color: black;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.home{
  float: left;
}

.logout{
  float: right;
}