h1 {
  text-align: center;
  color: white;
  /* #fadcaa */
  background-color: #81b214;
  padding: 10px;
  padding-bottom: 20px;
  margin: -10px;
}

h3 {
  color: #321f28;
}

.starting_button {
  display: inline-block;
  float: left;
  width: 35%;
  height: 100vh;
  text-align: center;
  margin-top: 80px;
  margin-left: 50px;
}

.all_forms {
  background: rgba(226, 233, 232, 0.7);
  display: inline-block;
  float: right;
  width: 500px;
  height: 75vh;
  margin-top: 65px;
  margin-right: 120px;
  margin-left: 0px;
}

.intro {
  background: rgba(226, 233, 232, 0.7);
  padding: 15px;
}

.login_div {
  margin-left: 30%;
}

.login_div input {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid black;
}

.login_div input:focus {
  border: 3px solid darkgreen;
  background-color: rgba(96, 226, 113, 0.5);
}

.login_div label {
  font-size: 17px;
  font-family: Impact, Charcoal, sans-serif;
  color: #321f28;
}

.login_button {
  color: white;
  border-radius: 10px;
  font-weight: 800;
  background-color: #81b214;
  align-items: center;
}

.login_button:hover {
  background-color: rgba(39, 105, 48);
  color: black;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.log_head {
  font-family: Impact, Charcoal, sans-serif;
  color: #321f28;
}

.registration_div {
  margin-left: 10%;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("farmer1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

h1 {
  font-size: 40px;
  font-family: Charcoal, sans-serif;
}

button,
.user_selection {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  font-weight: 800;
  background-color: #81b214;
  margin: 10px;
  width: 150px;
}

button:hover {
  background-color: rgba(39, 105, 48, 0.7);
  color: black;
  border: 2px black;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.user_selection:hover {
  background-color: black;
  color: white;
  border: cornsilk;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.register input,
select {
  width: 165px;
  height: 25px;
  border: 1px solid black;
}

.register input:focus {
  border: 2px solid darkgreen;
  background-color: rgba(96, 226, 113, 0.3);
}

.register label {
  font-size: 17px;
  font-family: Impact, Charcoal, sans-serif;
  color: #321f28;
}

.register_button {
  color: white;
  border-radius: 10px;
  font-weight: 800;
  background-color: #81b214;
  align-items: center;
}

.register_button:hover {
  background-color: rgba(39, 105, 48);
  color: black;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.08) !important;
}

.reg_head {
  font-family: Impact, Charcoal, sans-serif;
  color: #321f28;
}
