{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buy Crop</title>
    <link rel="stylesheet" href="{% static 'css/buycrop.css' %}">
    <script src="{% static 'js/consumer.js' %}" charset="utf-8"></script>
  </head>
  <body onload="initialize()">
    <div class="qty-section">

    <h3 id="farmer_val">Farmer: </h3>
    <!--<h3 id="phone_val">Mobile No: </h3>-->
    <h3 id="state_val">State: /h3>
    <h3 id="city_val">City: </h3>
    <h3 id="crop_val">Crop: /h3>
    <h3 id="price_val">Price: /h3>
    <form class="" action="index.html" method="post">
      <label for="quantity"><h3>Select Quantity(in Kgs) :</h3></label>
      <input type="number" id="quantity" name="" value="" min="0"><br><br>
      <input class="payment" type="button" onclick="payment()" name="" value="Proceed to payment">
    </form>
    </div>
    <div class="pay-section">
      <h2>Order ID: 23456</h2>
      <h2>Total Payment:Rs 460</h2>
      <input type="radio" name="payment" value="">Net Banking <br>
      <input type="radio" name="payment" value="">Cash on Delivery <br>
      <input type="radio" name="payment" value="">Credit/Debit Card <br><br>
      <input class="buy" type="submit" name="" value="Buy">
    </div>
    <script>
      let id = "{{id}}";
      
      function crop_detail(id) {
        fetch(`http://127.0.0.1:8000/crop_detail/${id}`)
        .then((resp)=>resp.json())
        .then(function(data) {
          let name = document.getElementById('farmer_val');
          name.innerHTML = 'Farmer: ' + data.farmer.user.first_name + " " + data.farmer.user.mid_name + " " + data.farmer.user.last_name;
          //let phone = document.getElementById('phone.val');
          //phone.innerHTML = 'Phone No.: ' + data.farmer.user.
          let state = document.getElementById('state_val');
          state.innerHTML = 'State: ' + data.state;
          let city = document.getElementById('city_val');
          let crop = document.getElementById('crop_val');
          let price = document.getElementById('price_val');
          city.innerHTML = 'City: ' + data.farmer.user.city;
          crop.innerHTML = 'Crop: ' + data.name;
          price.innerHTML = 'Price: Rs. ' + data.price + ' /Kg';

        })
      }
      crop_detail(id);
    </script>
  </body>
</html>
