{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Farmer</title>
    <link rel="stylesheet" href={% static 'css/farme.css' %}>
    <script src={% static 'js/farmer.js' %} charset="utf-8"></script>
  </head>
  <body onload="loadpage()">
    <header>
      <button type="button" class="home but" name="button">Home</button>
      <button type="button" onclick="location.href='{% url 'user_logout' %}'" class="logout but" name="button">Logout</button>
    </header><br>
  <h1>WELCOME, {{request.user.username}}</h1>
  <div class="left">
    <h3>SELECT OPTION</h3><hr>
    <h4>To add new crop</h4>
    <button type="button" onclick="showform('add_crop','upd_quant','order','crop_table','buy_raw')" name="button">Add Crop</button><br><br><hr>
    <h4>To update crop quantity</h4>
    <button type="button"  onclick="showform('upd_quant','add_crop','order','crop_table','buy_raw')" name="button">Update Quantity Crop</button><br><br><hr>
    <h4>To get all crop</h4>
    <button type="button" id="displaycrops" onclick="showform('order','add_crop','upd_quant','crop_table','buy_raw')" name="button">My Crops</button><br><br><hr>
    <h4>To place order for pesticides/fertilizers</h4>
    <button type="button" id = "orders" onclick="showform('crop_table','add_crop','upd_quant','order','buy_raw')" name="button">Customer Order</button><br><br><hr>
    <h4>To buy raw material</h4>
    <button type="button" onclick="showform('buy_raw','add_crop','upd_quant','order','crop_table')" name="button">Buy Raw Material</button><br><br>
  </div>
  <div class="right">
    <div class="add_crop">
      <form class="" action={% url 'create_crop' %} method="post">
  {% csrf_token %}
        <select class="" name="Season">
          <option value="">Select-Season</option>
          <option value="Winter">Winter</option>
          <option value="Summer">Summer</option>
          <option value="Rainy">Rainy</option>
          <option value="Spring">Spring</option>
          <option value="Autumn">Autumn</option>
        </select><br><br>
        <label for="farm-crop">Crop:</label>
        <input type="text" name="crop" id="farm-crop" value=""><br><br>
        <label for="farm-crop-qty">Quantity:</label>
        <input type="number" name="crop-qty" id="farm-crop-qty" min="0" value=""><br><br>
        <label for="farm-crop-price">Price(Rs):</label>
        <input type="text" name="crop-price" id="farm-crop-price" value=""><br><br>
        <input class="submit_button" type="submit" name="" value="Add Crop">
      </form>
    </div>
    <div class="upd_quant">
      <form class="" action={% url 'add_crops' %} method="post">
      {% csrf_token %}
        <label for="farm-crop">Crop:</label>
        <input type="text" name="crop" id="farm-crop" value=""><br><br>
        <label for="farm-crop-up-qty">Update Quantity:</label>
        <input type="number" name="crop-qty" id="farm-crop-up-qty" min="0" value=""><br><br>
        <input class="submit_button" type="submit" name="" value="Update Quantity">
      </form>
    </div>
    <div class="order">

      <table id="cropdetails" border="1px solid black">
        <tr>
          <th>Crops</th>
          <th>Price</th>
          <th>Quantity(kg)</th>
        </tr>
        <tr>
          <td>Wheat</td>
          <td>100</td>
          <td>500</td>
        </tr>
        <tr>
          <td>Rice</td>
          <td>200</td>
          <td>400</td>
        </tr>
      </table>

    </div>
    <div class="crop_table">

      <table id ="farmer_orders" border="1px solid black">
        <tr>
          <th>Cutomer-ID</th>
          <th>Customer-Name</th>
          <th>Adhaar No.</th>
          <th>Crop</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>City</th>
        </tr>
        <tr>
          <td>23456</td>
          <td>Rahul Bajaj Roy</td>
          <td>2345543223</td>
          <td>500</td>
          <td>Rice</td>
          <td>Debit Card</td>
        </tr>
      </table>
    </div>
    <div class="buy_raw">
      {% comment %}<form class="" action="raw_material.html" method="post">
         <input type="radio" name="raw" id="pest" value="">
        <label for="pest">Pesticide</label><br>
        <input type="radio" name="raw" id="ferti" value="">
        <label for="ferti">Fertilizer</label><br>
        <input type="radio" name="raw" id="seed" value="">
        <label for="seed">Seeds</label><br><br> 
        <input class="submit_button" type="submit"  name="" value="Buy Raw Material">
      </form>
      {% endcomment %}
     <a href = {% url 'farmer_shop' %} <button class = "shop_submit_button">Buy Raw Material</button></a> 
    </div>
  </div>



  <script>
  document.getElementById("displaycrops").addEventListener("click", view_crops);
  function view_crops() {
        //e.preventDefault();
        let id = {{request.user.id}}
        fetch(`http://127.0.0.1:8000/farmer_crops/${id}`)
        .then((resp)=>resp.json())
        .then(function(data) {
          console.log(data);
          let t = document.getElementById('cropdetails');
          //$('#farmer_table:not(:first)').remove();
          for(let i=1;i<t.rows.length;i++) {
            t.deleteRow(i);
          }
          data.forEach(function(crop) {
            console.log(crop);
            
            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            td1.innerHTML = crop.name;
            tr.appendChild(td1);
            td2.innerHTML = crop.price;
            tr.appendChild(td2);
            td3.innerHTML = crop.quantity;
            tr.appendChild(td3);
            t.appendChild(tr);
          })
        })
      }

      document.getElementById("orders").addEventListener("click", view_seller_orders);
    let userid = {{request.user.id}}
      function view_seller_orders() {
        let userid = {{request.user.id}}
        fetch(`http://127.0.0.1:8000/farmer_orders/${userid}`)
        .then((resp)=>resp.json())
        .then(function(data) {
          console.log(data);
          let t = document.getElementById('farmer_orders');
          for(let i=1;i<t.rows.length;i++) {
            t.deleteRow(i);
          }
          data.forEach(function(order) {
            console.log(order);
            
            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            let td4 = document.createElement("td");
            let td5 = document.createElement("td");
            let td6 = document.createElement("td");
            let td7 = document.createElement("td");
            td1.innerHTML = order.consumer.user.id;
            tr.appendChild(td1);
            td2.innerHTML = order.consumer.user.first_name;
            tr.appendChild(td2);
            td3.innerHTML = order.consumer.user.aadhar_no;
            tr.appendChild(td3);
            td4.innerHTML = order.item_ordered;
            tr.appendChild(td4);
            td5.innerHTML = order.item_quantity;
            tr.appendChild(td5);
            td6.innerHTML = order.order_total;
            tr.appendChild(td6);
            td7.innerHTML = order.consumer.user.city;  
            tr.appendChild(td7);
            t.appendChild(tr);

          })
        })
      }
  </script>
  </body>
</html>
