<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="farme.css">
    <title>Raw Material</title>
  </head>
  <body>
    <header>
      <button type="button" class="home but" name="button">Home</button>
      <button type="button" class="logout but" name="button">Logout</button>
    </header><br>
    <h2>Pesticide</h2>
    <form class="" action="index.html" method="post">
    <select class="" name="pesticide">
      <option value="">A</option>
      <option value="">B</option>
      <option value="">C</option>
    </select><br><br>
    <input class="submit_button " type="button" name="" value="Search Dealers"><br><br>
    </form>
    <form class="" action="index.html" method="post">
      <table border="1px solid black">
        <tr>
          <th>Seller-ID</th>
          <th>Seller-Name</th>
          <th>State</th>
          <th>City</th>
          <th>Manufacture Name</th>
          <th>Price(Rs per kg)</th>
        </tr>
        <tr>
          <td>56789</td>
          <td>Jadhav Manohar Gupta</td>
          <td>Uttar Pradesh</td>
          <td>Azamgarh</td>
          <td>Bajaj Pesticide's</td>
          <td>500</td>
        </tr>
      </table><br>
      <label for="raw-qty">Quantity:</label>
      <input type="number" name="" min="0" id="raw-qty" value=""><br><br>
      <label for="seller_id">Give Seller-ID for deal:</label>
      <input type="text" name="" id="seller_id" value=""><br><br>
      <input class="submit_button" type="submit" name="" value="Buy">
    </form>
  </body>
</html>
